
body {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 80%;
   background-color: #f0e6d5;
   color: #41334a;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

h1, h2, h3, h4 {
   margin: 0px;
   padding: 0px;
}

h1 {
   font-family: Verdana, Arial, sans-serif;
   font-size: 120%;
   color: #41334a;
}

h2 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 120%;
   color: #41334a;
}

h3 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 110%;
   color: white;
}

h4 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 100%;
   color: #41334a;
}

footer {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 80%;
   background-color: #41334a;
   color: white;
   padding: 5px;
   border-top: 3px solid #f0e6d5;
   border-bottom: 3px solid #f0e6d5;
   clear: both;
   text-align: center;
   width: 100%;
}
main {
   padding: 5px;
   border-top: 3px solid #6f4d11;
   float: left;
   width: 55%;
   height: 100%;
}

main table {
   padding: 2px;
}

main td {
   padding: 2px;
}
header {
   padding: 5px;
   border-bottom: 3px solid #f0e6d5;
   height: 40px;
   width: 100%;
}

.navigation {
   padding: 5px;
   border-bottom: 1px solid #f0e6d5;
   border-right: 1px solid #f0e6d5;
   border-top: 1px solid #f0e6d5;
   border-left: 5px solid #f0e6d5;
   color: rgb(37, 180, 151);
   background-color: #872c14;
   width: 20%;
}

a, a:link {
 color: #ca7834;
}

a:active {
 color: #d45f24;
}

nav a, nav a:link {
 color: #5b3f12;
 text-decoration: none;
}

nav a:visited {
 color: #ad3c07;
}

nav a:hover {
 color: #3e3737;
}

nav a:active {
 color: #3e3737;
}
input {
 border: 2px solid #7c6255;
 background-color: white;
 color: #41334a;
 border-radius: 5px;
}

input[type=submit] {
 font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
}

input:required:invalid {
 border-color: #872c14;
 background-color: #fbd79c;
}

input:required:valid {
 border-color: #dad0dd;
 background-color: #f0e6d5;
}

input:focus {
 outline: none;
 border-color: #ca7834;
 background-color: #eadfd5;
 box-shadow: 0 0 5px #faddc5;
}